<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <!--将下划线命名的字段映射成驼峰法命名-->
        <setting name="mapUnderscoreToCamelCase" value="true"/>
        <setting name="localCacheScope" value="STATEMENT"></setting>
        <setting name="logImpl" value="SLF4J"></setting>
    </settings>

    <typeAliases>
        <!--<typeAlias type="com.com.zhiyou100.Person" alias="Person"></typeAlias>-->
    </typeAliases>
    <!--环境表示连接  可以配置多个-->


    <mappers>

    </mappers>

</configuration>